:host {
    width: 100vw;
    nav {
        position: absolute;
        top: 0;
        width: 100%; 
        height: 40px;
        display: flex;
        justify-content: end;
        align-items: center;
    
    }
} 