:host {
    display: flex;
    background-color: var(--background-color);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    height: 100vh;
    
    .line-buttons {
        display: inline-flex;
        width: 430px;
        justify-content: space-between;
        gap: 10px;
        @media (max-width: 450px) {
            width: 100%;
        }
    }
}