<div class="card my-5" style="height: 400px;">
    <div>
        <h4 class="text-center">Login</h4>

        <span>Faça login com seu email e senha para continuar</span>
    </div>


    <!-- Esse form não deve recaregar a pagina quando ouver um submit -->
    <form class="from-group mt-5">
        <div style="display: flex; flex-direction: column; width: 100%; justify-content: space-between;">
            <input fmTextInput type="text" placeholder="Nome completo">
            <input fmTextInput type="text" placeholder="email"  class="my-5">
            <input fmTextInput type="password" placeholder="Senha"  class="my-5">
            <input fmTextInput type="password" placeholder="Confirme sua senha"  class="my-5">
        </div>
    </form>

    <fm-button full animation contrast="onBrand" >Entrar</fm-button>
</div>